.container{
    display: flex;
    margin: auto;
    padding: 25px ;
   
    }

.container form p a{
    color: crimson;
}

.container form .error-msg{
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}
h5{
    text-align: center;
}
.card{
   display: flex;
   margin: auto;
   padding: 25px;
   
}

